.img-new {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 250px;
    /* background-image: url("https://znews-photo.zadn.vn/w1024/Uploaded/ofh_btgazsox/2019_09_06/5bcad78ec0d69iucoverori.jpg") */
}