.bill-setting{
  //height: 500px;
  padding-top: 20px;
 // display: flex;
 // flex-direction: column;
 // align-items: center;
 // justify-content: space-between;
}

.bill-setting button{
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #1877F2;
  color: white;
  border-radius: 3px;
  padding: 3px;
}

.bill-setting button.disable{
  pointer-events: none;
  background-color: #EEEEEE !important;
  cursor: initial;
  color: #C8CED3;

}
.bill-setting table{
  width: 100%;
  border-collapse: collapse;
}

.bill-setting table th, td{
  border: 1px solid #C8CED3;
  border-bottom-width: 2px;
}
.bill-setting td{
  text-align: left;
  padding-left: 5px;
  vertical-align: top;
  padding: 7px;
}
.bill-setting td:last-child{
  vertical-align: middle;
}

.bill-setting ol{
  list-style: disc;
  padding-left: 20px;

}
.bill-setting ol li{
  text-align: left;

}

.bill-setting th,td{
  text-align: center;
}

.bill-setting__footer{
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;

  border-radius: 4px;
  overflow: hidden;
  align-self: flex-end;
}

.bill-setting__footer button:first-of-type{
  border: 1px solid #C8CED3 ;

}
.bill-setting__footer button:last-of-type{
  border: 1px solid #C8CED3;

}
.bill-setting__footer button{
  padding: 7.5px 11px;
  text-align: center;
  font-size: 10px;
  background-color: white;
  color: #20A8D8;
}
.bill-setting__footer p{

  background-color: #20A8D8;
  margin: 0;
  padding: 4px 11px;
  color: white;
}
// .react-paginate ul {
//   display: inline-block;
//   padding-left: 15px;
//   padding-right: 15px;
// }

// .react-paginate li {
//   display: inline-block;
//   padding-left: 15px;
//   padding-right: 15px;
//   border:1px solid #c8ced3;
// }
.react-paginate {
  margin-top: 20px;
  .pagination {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;

    li {
      display: inline-block;
      padding: 0.5rem 0.75rem;
      line-height: 1.25;
      border:1px solid #c8ced3;
      &:hover {
        cursor: pointer;
        text-decoration: none;
      } 
      
      a {
        &:hover {
          text-decoration: none;
        }
        &:focus {
          outline: none;
        }
      }
    }
    .active {
      background-color: #20a8d8;
      border-color: #20a8d8;
      a {
        color:#fff;
        text-decoration: none;
      }
    }
  }
}